<img src="https://i.imgur.com/6U6q5jQ.png"/>

# Merging Data Frames in Python

The Merging stage is an operation at the data frame level (not a cell operation). 

The merging process combines **TWO** data frames, if and only if, they each have a common column whose cell values represent the same, and are written exactly the same. Unmatched values will not be part of the output. If you have messy data, you need to clean at least those **key** columns for the match to work.

Let's see some data:

In [1]:
import pandas as pd
import os


allFree=pd.read_pickle("https://github.com/PythonVersusR/OperationsFormatting/raw/main/DataFiles/allFree.pkl")  
allFree

,Country,FitW,FitW_score,IoEF,IoEF_score,PFI,PFI_score,DI,DI_score,FitW_or,IoEF_or,PFI_or,DI_or
0,NORWAY,5,100,4,76.9,5,95.18,5,9.81,5_veryGood,4_good,5_veryGood,5_veryGood
1,IRELAND,5,97,5,82.0,5,89.91,5,9.05,5_veryGood,5_veryGood,5_veryGood,5_veryGood
2,SWEDEN,5,100,4,77.5,5,88.15,5,9.26,5_veryGood,4_good,5_veryGood,5_veryGood
3,FINLAND,5,100,4,77.1,5,87.94,5,9.20,5_veryGood,4_good,5_veryGood,5_veryGood
4,DENMARK,5,97,4,77.6,5,89.48,5,9.15,5_veryGood,4_good,5_veryGood,5_veryGood
...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,VENEZUELA,1,15,1,25.8,1,36.99,1,2.76,1_veryLow,1_veryLow,1_veryLow,1_veryLow
153,TURKMENISTAN,1,2,1,46.5,1,25.82,1,1.72,1_veryLow,1_veryLow,1_veryLow,1_veryLow
154,ERITREA,1,3,1,39.5,1,27.86,1,2.15,1_veryLow,1_veryLow,1_veryLow,1_veryLow
155,CUBA,1,12,1,24.3,1,29.00,1,2.84,1_veryLow,1_veryLow,1_veryLow,1_veryLow
156,NORTH KOREA,1,3,1,2.9,1,21.72,1,1.08,1_veryLow,1_veryLow,1_veryLow,1_veryLow

Now, let's bring this other one:

In [2]:
%%html

<iframe width="700" height="300" src="https://www.cia.gov/the-world-factbook/field/military-expenditures/country-comparison" allowfullscreen></iframe>

In [3]:
linkCIA="https://www.cia.gov/the-world-factbook/field/military-expenditures/country-comparison"
mil=pd.read_html(linkCIA,flavor='bs4')
# how many
len(mil)

1

In [4]:
# the only one
mil[0]

     Rank           Country  % of GDP Date of Information
0       1           Eritrea      10.0           2019 est.
1       2           Algeria       9.0           2023 est.
2       3             Syria       6.5           2019 est.
3       4      Saudi Arabia       6.0           2022 est.
4       5           Somalia       6.0           2021 est.
..    ...               ...       ...                 ...
161   162             Ghana       0.4           2022 est.
162   163           Moldova       0.4           2022 est.
163   164  Papua New Guinea       0.3           2022 est.
164   165           Ireland       0.3           2022 est.
165   166              Laos       0.2           2019 est.

[166 rows x 4 columns]

Let's check format:

In [5]:
mil[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Rank                 166 non-null    int64
 1   Country              166 non-null    object
 2   % of GDP             166 non-null    float64
 3   Date of Information  166 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 5.3+ KB

Let's keep the columns we need from the data frame:

In [6]:
mil[0]=mil[0].iloc[:,[1,2]]
mil[0].head()

        Country  % of GDP
0       Eritrea      10.0
1       Algeria       9.0
2         Syria       6.5
3  Saudi Arabia       6.0
4       Somalia       6.0

Let's create a new data frame, while renaming the second column with a simpler name:

In [7]:
mili=mil[0].rename(columns={"% of GDP": "mili_pctGDP"})
mili.head()

        Country  mili_pctGDP
0       Eritrea         10.0
1       Algeria          9.0
2         Syria          6.5
3  Saudi Arabia          6.0
4       Somalia          6.0

## Deciding keys

Obviously, _Country_:

In [8]:
mili.columns, allFree.columns

(Index(['Country', 'mili_pctGDP'], dtype='object'),
 Index(['Country', 'FitW', 'FitW_score', 'IoEF', 'IoEF_score', 'PFI',
        'PFI_score', 'DI', 'DI_score', 'FitW_or', 'IoEF_or', 'PFI_or', 'DI_or'],
       dtype='object'))

In [9]:
#explore
allFree.Country.sort_values(),mili.Country.sort_values()

(59        ALBANIA
 126       ALGERIA
 119        ANGOLA
 45      ARGENTINA
 61        ARMENIA
           ...
 133    UZBEKISTAN
 152     VENEZUELA
 139       VIETNAM
 88         ZAMBIA
 131      ZIMBABWE
 Name: Country, Length: 157, dtype: object,
 24     Afghanistan
 67         Albania
 1          Algeria
 101         Angola
 154      Argentina
           ...
 33      Uzbekistan
 6        Venezuela
 49         Vietnam
 111         Zambia
 158       Zimbabwe
 Name: Country, Length: 166, dtype: object)

We should _normalize_ the **key** columns:

In [10]:
mili['Country']=mili.Country.str.upper()

## Basic merge

The basic merge works like this:

In [11]:
# Which country has more rows?
mili.shape[0],allFree.shape[0]

(166, 157)

When row counts differ, you can expect the merge will give at most the lowest amount of rows between those two. Let's see:

In [12]:
mili.merge(allFree,left_on='Country',right_on='Country').shape[0]

144

## Fuzzy matching

Currently, that is the count of rows in the merge. Let's explore the unmatched keys:

In [13]:
InMiliNotInFree=list(set(mili.Country)-set(allFree.Country))
sorted(InMiliNotInFree)

['AFGHANISTAN',
 'BAHAMAS, THE',
 'BARBADOS',
 'BELIZE',
 'BOSNIA AND HERZEGOVINA',
 'BRUNEI',
 'CABO VERDE',
 'CONGO, DEMOCRATIC REPUBLIC OF THE',
 'CONGO, REPUBLIC OF THE',
 "COTE D'IVOIRE",
 'CZECHIA',
 'GAMBIA, THE',
 'IRAQ',
 'KOREA, SOUTH',
 'KOSOVO',
 'SEYCHELLES',
 'SOMALIA',
 'SOUTH SUDAN',
 'SYRIA',
 'TONGA',
 'TURKEY (TURKIYE)',
 'UKRAINE']

In [ ]:
InFreeUnmatched=list(set(allFree.Country)-set(mili.Country))
sorted(InFreeUnmatched)

Let's try to match strings that are NOT equally written. You need to previously install:
* thefuzz (use _pip install thefuzz_)
* python-Levenshtein  (use _pip python-Levenshtein_)

In [ ]:
from thefuzz import process

[(country, process.extractOne(country,InMiliNotInFree )) for country in sorted(InFreeUnmatched)]

This exploration suggest we make changes manually first:

In [ ]:
#allFree=allFree[allFree.Country != "NORTH KOREA"] # bye no
manualFree={'REPUBLIC OF THE CONGO':'CONGO, REPUBLIC OF THE','CZECH REPUBLIC':'CZECHIA'}
allFree.Country.replace(manualFree,inplace=True)

#
InMiliNotInFree=list(set(mili.Country)-set(allFree.Country))
InFreeUnmatched=list(set(allFree.Country)-set(mili.Country))

# 
[(country, process.extractOne(country,InMiliNotInFree )) for country in sorted(InFreeUnmatched)]

Notice:

In [ ]:
[(country, process.extractOne(country,InMiliNotInFree )) for country in sorted(InFreeUnmatched) 
 if process.extractOne(country,InMiliNotInFree)[1]>=90]

In [ ]:
# then:
fuzzyFree={country: process.extractOne(country,InMiliNotInFree )[0] for country in sorted(InFreeUnmatched) 
 if process.extractOne(country,InMiliNotInFree)[1]>=90}
fuzzyFree

Apparently, that was all:

In [ ]:
allFree.Country.replace(fuzzyFree,inplace=True)

#
InMiliNotInFree=list(set(mili.Country)-set(allFree.Country))
InFreeUnmatched=list(set(allFree.Country)-set(mili.Country))

# 
[(country, process.extractOne(country,InMiliNotInFree )) for country in sorted(InFreeUnmatched)]

You can also try:

In [ ]:
#opposite search
[(country, process.extractOne(country, InFreeUnmatched)) for country in sorted(InMiliNotInFree)]

We reached our best situation, then:

In [ ]:
# in case you have different names in the matching columns:
freemili=allFree.merge(mili,left_on='Country', right_on='Country')
freemili

We can save this for R and Python :

In [ ]:
# for Python

import os
freemili.to_pickle(os.path.join("FilesToMerge","FreeAndMili.pkl"))

In [ ]:
# for R
import os

os.environ['R_HOME'] = '/Library/Frameworks/R.framework/Resources'

from rpy2.robjects import pandas2ri
pandas2ri.activate()

from rpy2.robjects.packages import importr

base = importr('base')
base.saveRDS(freemili,file=os.path.join('FilesToMerge','FreeAndMili.RDS'))