# Data Reshaping


Let me get the data on Covid again:

In [2]:
import pandas as pd
import glob
import os

all_names = glob.glob(os.path.join('FilesToAggregate' , "*2022.csv"))

dfs=[pd.read_csv(name,sep=";") for name in all_names]

covid=pd.concat(dfs,ignore_index=True,copy=False)

We speak of the **long** and the **wide** shape. As you can see the covid data is in the former:

In [3]:
covid.head(10)

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-01,26,210147125.0,32434063.0,76045,671700,284,30873682.0,888681.0,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-02,26,210147125.0,32471847.0,37784,671858,158,30880584.0,919405.0,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-03,27,210147125.0,32490422.0,18575,671911,53,30906575.0,911936.0,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-04,27,210147125.0,32535923.0,45501,672033,122,30967114.0,896776.0,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-05,27,210147125.0,32610514.0,74591,672429,396,31039055.0,899030.0,NaN
5,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-06,27,210147125.0,32687680.0,77166,672790,361,31077538.0,937352.0,NaN
6,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-07,27,210147125.0,32759730.0,72050,673073,283,31094805.0,991852.0,NaN
7,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-08,27,210147125.0,32830844.0,71114,673339,266,31119463.0,1038042.0,NaN
8,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-09,27,210147125.0,32874501.0,43657,673554,215,31142535.0,1058412.0,NaN
9,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-10,28,210147125.0,32896464.0,21963,673610,56,31181066.0,1041788.0,NaN

Long format is efficient, but some operations may need a wide format:

In [4]:
covidSemanaW=pd.pivot_table(covid,
                            values='casosNovos', 
                            index=['estado'],
                            columns=['semanaEpi'],# to long
                            aggfunc=sum)

covidSemanaW

/var/folders/2n/bkfhfqq16r78g3hf7pdj56y40000gn/T/ipykernel_75914/2492266493.py:1: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  covidSemanaW=pd.pivot_table(covid,

semanaEpi,1,2,3,4,5,6,7,8,9,10,...,21,22,23,24,25,26,27,28,29,52
estado,,,,,,,,,,,,,,,,,,,,,
AC,34,2464,7796,8592,16090,9112,11584,8694,3898,1704,...,2,272,130,152,498,2806,6000,9924,5248,4
AL,1322,4604,8426,15738,22720,24524,15470,4150,5358,1868,...,760,902,926,1824,4024,6872,10260,6532,2488,22
AM,3068,22592,84164,75116,42402,28960,13250,8750,3300,6890,...,234,174,316,454,1498,4122,8542,11454,5836,74
AP,934,2638,13184,30084,11656,5640,1586,408,114,140,...,10,54,52,90,510,1674,5622,11514,5174,64
BA,11606,20504,50574,86258,101036,92694,64332,33138,15742,18264,...,3460,2822,9196,9000,14828,35820,52106,45396,15360,342
CE,7928,15012,43266,173844,206146,44208,29264,18342,9118,6574,...,1124,1440,5366,5532,10160,24080,19974,117574,12950,1420
DF,10210,32672,40410,67600,71952,50346,29998,18872,8512,5668,...,9196,24588,45340,50960,50380,32246,18300,14884,4716,0
ES,9390,53466,120972,207142,186268,117760,56550,30642,12350,9176,...,4450,7884,16232,24248,45596,57746,55014,45894,18942,108
GO,10924,31460,59364,70996,66762,73728,69236,53928,34468,59294,...,25122,36514,49192,51610,73228,78896,70398,63456,18024,406
MA,2466,4754,7614,15546,14406,14856,13076,11534,4458,6582,...,1800,2620,2552,1400,2054,2998,4588,11122,6516,98
MG,66340,183316,280790,380716,364078,285530,192146,185928,71850,69640,...,38552,64702,86148,58226,129262,122290,115900,103558,58230,1136
MS,6358,15446,16836,38878,42042,37684,44436,34166,17100,14910,...,3954,4274,10410,6154,7524,6402,7094,6584,5166,220
MT,10264,24628,36222,54572,54968,46384,36546,27832,12688,10802,...,1690,3698,6218,6128,19648,24142,28406,28886,15788,0
PA,6590,8352,9538,18642,29042,39886,37378,32538,15440,20440,...,3000,2140,3156,2906,3672,6600,7674,13700,6600,110
PB,1724,5610,17822,34018,45744,45174,39628,28678,10370,15074,...,2322,1344,4246,4896,9804,12304,15924,13792,4652,352
PE,5938,11820,24892,55764,66848,62060,69096,68468,39620,33348,...,8048,8356,11938,17358,21898,32330,33478,26132,9520,412
PI,19814,884,-13488,7782,16136,13560,10430,6002,1728,1272,...,32,32,290,264,5532,4702,6582,7216,3162,64
PR,54850,134972,220302,275936,276400,213022,163430,113218,59678,50090,...,21536,54212,43124,33224,44682,45052,36402,32910,13660,1308
RJ,59264,112454,326710,291642,210214,123902,90184,67546,34810,50136,...,31278,47948,69850,62744,83348,78376,62208,50730,24612,56
RN,5464,7854,18620,40368,33770,31918,24698,16944,6162,9020,...,1744,4144,6452,8752,13200,13538,13568,10978,3806,300
RO,3240,7540,20140,27814,35042,31452,24240,25744,13222,9296,...,940,1734,3380,3626,8302,12414,17236,12496,8148,68
RR,1594,5286,7754,10450,7952,5192,6508,3508,1556,1152,...,190,192,320,406,2522,7024,9524,6598,2738,0
RS,45824,103716,217422,247200,218694,178284,159218,119328,63216,63670,...,66396,61676,57258,42538,50110,46296,46878,45482,19872,0
SC,34674,75300,125290,148488,122246,95436,77844,59612,36176,31404,...,26020,25750,24166,19174,25936,25198,23470,24424,8920,670
SE,552,2166,6150,14652,25412,20624,9248,4666,1776,2444,...,152,178,370,744,2108,3522,6226,6376,3260,16
SP,29288,54064,94160,186270,203586,195408,182980,163204,93290,132202,...,80278,55916,127100,80376,101542,112020,111512,94004,40520,722
TO,6376,8822,21974,26786,25690,17596,11332,7086,2004,3104,...,1264,1804,408,3944,5048,20306,12422,9914,4148,0

Notice the column names:

In [5]:
covidSemanaW.columns

Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 52],
      dtype='int64', name='semanaEpi')

Pandas gave a name to all the columns ('_semanaEpi_'), which is saved from the original data.

In [6]:
covidSemanaW.reset_index().rename_axis(index=None, columns=None)

,estado,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,52
0,AC,34,2464,7796,8592,16090,9112,11584,8694,3898,...,2,272,130,152,498,2806,6000,9924,5248,4
1,AL,1322,4604,8426,15738,22720,24524,15470,4150,5358,...,760,902,926,1824,4024,6872,10260,6532,2488,22
2,AM,3068,22592,84164,75116,42402,28960,13250,8750,3300,...,234,174,316,454,1498,4122,8542,11454,5836,74
3,AP,934,2638,13184,30084,11656,5640,1586,408,114,...,10,54,52,90,510,1674,5622,11514,5174,64
4,BA,11606,20504,50574,86258,101036,92694,64332,33138,15742,...,3460,2822,9196,9000,14828,35820,52106,45396,15360,342
5,CE,7928,15012,43266,173844,206146,44208,29264,18342,9118,...,1124,1440,5366,5532,10160,24080,19974,117574,12950,1420
6,DF,10210,32672,40410,67600,71952,50346,29998,18872,8512,...,9196,24588,45340,50960,50380,32246,18300,14884,4716,0
7,ES,9390,53466,120972,207142,186268,117760,56550,30642,12350,...,4450,7884,16232,24248,45596,57746,55014,45894,18942,108
8,GO,10924,31460,59364,70996,66762,73728,69236,53928,34468,...,25122,36514,49192,51610,73228,78896,70398,63456,18024,406
9,MA,2466,4754,7614,15546,14406,14856,13076,11534,4458,...,1800,2620,2552,1400,2054,2998,4588,11122,6516,98
10,MG,66340,183316,280790,380716,364078,285530,192146,185928,71850,...,38552,64702,86148,58226,129262,122290,115900,103558,58230,1136
11,MS,6358,15446,16836,38878,42042,37684,44436,34166,17100,...,3954,4274,10410,6154,7524,6402,7094,6584,5166,220
12,MT,10264,24628,36222,54572,54968,46384,36546,27832,12688,...,1690,3698,6218,6128,19648,24142,28406,28886,15788,0
13,PA,6590,8352,9538,18642,29042,39886,37378,32538,15440,...,3000,2140,3156,2906,3672,6600,7674,13700,6600,110
14,PB,1724,5610,17822,34018,45744,45174,39628,28678,10370,...,2322,1344,4246,4896,9804,12304,15924,13792,4652,352
15,PE,5938,11820,24892,55764,66848,62060,69096,68468,39620,...,8048,8356,11938,17358,21898,32330,33478,26132,9520,412
16,PI,19814,884,-13488,7782,16136,13560,10430,6002,1728,...,32,32,290,264,5532,4702,6582,7216,3162,64
17,PR,54850,134972,220302,275936,276400,213022,163430,113218,59678,...,21536,54212,43124,33224,44682,45052,36402,32910,13660,1308
18,RJ,59264,112454,326710,291642,210214,123902,90184,67546,34810,...,31278,47948,69850,62744,83348,78376,62208,50730,24612,56
19,RN,5464,7854,18620,40368,33770,31918,24698,16944,6162,...,1744,4144,6452,8752,13200,13538,13568,10978,3806,300
20,RO,3240,7540,20140,27814,35042,31452,24240,25744,13222,...,940,1734,3380,3626,8302,12414,17236,12496,8148,68
21,RR,1594,5286,7754,10450,7952,5192,6508,3508,1556,...,190,192,320,406,2522,7024,9524,6598,2738,0
22,RS,45824,103716,217422,247200,218694,178284,159218,119328,63216,...,66396,61676,57258,42538,50110,46296,46878,45482,19872,0
23,SC,34674,75300,125290,148488,122246,95436,77844,59612,36176,...,26020,25750,24166,19174,25936,25198,23470,24424,8920,670
24,SE,552,2166,6150,14652,25412,20624,9248,4666,1776,...,152,178,370,744,2108,3522,6226,6376,3260,16
25,SP,29288,54064,94160,186270,203586,195408,182980,163204,93290,...,80278,55916,127100,80376,101542,112020,111512,94004,40520,722
26,TO,6376,8822,21974,26786,25690,17596,11332,7086,2004,...,1264,1804,408,3944,5048,20306,12422,9914,4148,0

We could save this, dropping the last column:

In [7]:
covidSemanaW=covidSemanaW.reset_index().rename_axis(index=None, columns=None)
covidSemanaW.drop(columns=[52],inplace=True)
covidSemanaW.to_csv(os.path.join('FilesToAggregate','covidSemanaW.csv'),index=False)

We should be able to transfor this wide version into a long one:

In [8]:
covidSemanaL=covidSemanaW.set_index('estado').stack().reset_index()
covidSemanaL

    estado  level_1      0
0       AC        1     34
1       AC        2   2464
2       AC        3   7796
3       AC        4   8592
4       AC        5  16090
..     ...      ...    ...
778     TO       25   5048
779     TO       26  20306
780     TO       27  12422
781     TO       28   9914
782     TO       29   4148

[783 rows x 3 columns]

In [10]:
# you can save after renaming
covidSemanaL.rename(columns={'level_1':'semanaEpi',0:'cases'},inplace=True)
covidSemanaW.to_csv(os.path.join('FilesToAggregate','covidSemanaL.csv'),index=False)

Let's make it little more complex:

In [11]:
covidSemanaW2=pd.pivot_table(covid,
                            values=['casosNovos','obitosNovos'], 
                            index=['regiao','estado'],
                            columns=['semanaEpi'],
                            aggfunc=sum)

covidSemanaW2

/var/folders/2n/bkfhfqq16r78g3hf7pdj56y40000gn/T/ipykernel_75914/3534931308.py:1: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  covidSemanaW2=pd.pivot_table(covid,

                    casosNovos                                          \
semanaEpi                   1       2       3       4       5       6
regiao       estado
Centro-Oeste DF          10210   32672   40410   67600   71952   50346
             GO          10924   31460   59364   70996   66762   73728
             MS           6358   15446   16836   38878   42042   37684
             MT          10264   24628   36222   54572   54968   46384
Nordeste     AL           1322    4604    8426   15738   22720   24524
             BA          11606   20504   50574   86258  101036   92694
             CE           7928   15012   43266  173844  206146   44208
             MA           2466    4754    7614   15546   14406   14856
             PB           1724    5610   17822   34018   45744   45174
             PE           5938   11820   24892   55764   66848   62060
             PI          19814     884  -13488    7782   16136   13560
             RN           5464    7854   18620   40368   33770   31918
             SE            552    2166    6150   14652   25412   20624
Norte        AC             34    2464    7796    8592   16090    9112
             AM           3068   22592   84164   75116   42402   28960
             AP            934    2638   13184   30084   11656    5640
             PA           6590    8352    9538   18642   29042   39886
             RO           3240    7540   20140   27814   35042   31452
             RR           1594    5286    7754   10450    7952    5192
             TO           6376    8822   21974   26786   25690   17596
Sudeste      ES           9390   53466  120972  207142  186268  117760
             MG          66340  183316  280790  380716  364078  285530
             RJ          59264  112454  326710  291642  210214  123902
             SP          29288   54064   94160  186270  203586  195408
Sul          PR          54850  134972  220302  275936  276400  213022
             RS          45824  103716  217422  247200  218694  178284
             SC          34674   75300  125290  148488  122246   95436

                                                    ... obitosNovos            \
semanaEpi                7       8      9       10  ...          21   22   23
regiao       estado                                 ...
Centro-Oeste DF       29998   18872   8512    5668  ...          12    4   14
             GO       69236   53928  34468   59294  ...          98   28   90
             MS       44436   34166  17100   14910  ...          30    8   12
             MT       36546   27832  12688   10802  ...          10   18   22
Nordeste     AL       15470    4150   5358    1868  ...           0    0    0
             BA       64332   33138  15742   18264  ...          18   32   28
             CE       29264   18342   9118    6574  ...          86   76   54
             MA       13076   11534   4458    6582  ...           2    2    2
             PB       39628   28678  10370   15074  ...           6    0   10
             PE       69096   68468  39620   33348  ...          54   58   58
             PI       10430    6002   1728    1272  ...           6    0    4
             RN       24698   16944   6162    9020  ...          10   18   12
             SE        9248    4666   1776    2444  ...           4    0    4
Norte        AC       11584    8694   3898    1704  ...           0    0    0
             AM       13250    8750   3300    6890  ...           4    2    0
             AP        1586     408    114     140  ...           4    0    6
             PA       37378   32538  15440   20440  ...          56   34   54
             RO       24240   25744  13222    9296  ...           4    8   10
             RR        6508    3508   1556    1152  ...           0    0    0
             TO       11332    7086   2004    3104  ...           2    0    0
Sudeste      ES       56550   30642  12350    9176  ...          14   20   26
             MG      192146  185928  71850   69640  ...         172   70  280
             RJ       90184   67546  34810   50136  ...         142   66   80
             SP      182980  163204  93290  132202  ...         698  404  842
Sul          PR      163430  113218  59678   50090  ...         140  164  148
             RS      159218  119328  63216   63670  ...          98  150  322
             SC       77844   59612  36176   31404  ...          56   50   76


semanaEpi             24   25   26    27   28   29  52
regiao       estado
Centro-Oeste DF       18   76   40    48   26   16   0
             GO       98  136  224   148  116   56  34
             MS       56   14   32    38   36   36   0
             MT       24   56   50    78   82   62   0
Nordeste     AL        6   10   28    50   60   42   0
             BA       50   60   68    64  202   94   2
             CE       16   50   96   176   78   40   0
             MA        0    8    4    20   22    8   0
             PB        2   36   36    42   50   34   2
             PE       68   72   70    78   90   48  14
             PI        2   22   14    44   74   34   0
             RN       12   36   62    24   44   40   0
             SE        6    4   10    16   32   22   0
Norte        AC        0    0    4     4    6    2   0
             AM        4    0    2    10   24   14   2
             AP        6    0    0     2   16    0   0
             PA       40   36   34    20   26   18   4
             RO        4   20   28    18   30   14   6
             RR        0    0    2     0    2    8   0
             TO        0    2   20     2    6   16   0
Sudeste      ES       26   44   78   112   74   54   4
             MG      248  344  310   354  388  222   0
             RJ      174  192  208   262  346  186  10
             SP      632  896  910  1014  970  460  16
Sul          PR      104  252  334   424  372  168   0
             RS      224  256  182   254  204   94   0
             SC       52   96  132    90  106   56   4

[27 rows x 60 columns]

Now you have _multi index_:

In [12]:
covidSemanaW2.index

MultiIndex([('Centro-Oeste', 'DF'),
            ('Centro-Oeste', 'GO'),
            ('Centro-Oeste', 'MS'),
            ('Centro-Oeste', 'MT'),
            (    'Nordeste', 'AL'),
            (    'Nordeste', 'BA'),
            (    'Nordeste', 'CE'),
            (    'Nordeste', 'MA'),
            (    'Nordeste', 'PB'),
            (    'Nordeste', 'PE'),
            (    'Nordeste', 'PI'),
            (    'Nordeste', 'RN'),
            (    'Nordeste', 'SE'),
            (       'Norte', 'AC'),
            (       'Norte', 'AM'),
            (       'Norte', 'AP'),
            (       'Norte', 'PA'),
            (       'Norte', 'RO'),
            (       'Norte', 'RR'),
            (       'Norte', 'TO'),
            (     'Sudeste', 'ES'),
            (     'Sudeste', 'MG'),
            (     'Sudeste', 'RJ'),
            (     'Sudeste', 'SP'),
            (         'Sul', 'PR'),
            (         'Sul', 'RS'),
            (         'Sul', 'SC')],
           names=['regiao', 'estado'])

This works well:

In [13]:
covidSemanaW2.reset_index()

                 regiao estado casosNovos                                  \
semanaEpi                               1       2       3       4       5
0          Centro-Oeste     DF      10210   32672   40410   67600   71952
1          Centro-Oeste     GO      10924   31460   59364   70996   66762
2          Centro-Oeste     MS       6358   15446   16836   38878   42042
3          Centro-Oeste     MT      10264   24628   36222   54572   54968
4              Nordeste     AL       1322    4604    8426   15738   22720
5              Nordeste     BA      11606   20504   50574   86258  101036
6              Nordeste     CE       7928   15012   43266  173844  206146
7              Nordeste     MA       2466    4754    7614   15546   14406
8              Nordeste     PB       1724    5610   17822   34018   45744
9              Nordeste     PE       5938   11820   24892   55764   66848
10             Nordeste     PI      19814     884  -13488    7782   16136
11             Nordeste     RN       5464    7854   18620   40368   33770
12             Nordeste     SE        552    2166    6150   14652   25412
13                Norte     AC         34    2464    7796    8592   16090
14                Norte     AM       3068   22592   84164   75116   42402
15                Norte     AP        934    2638   13184   30084   11656
16                Norte     PA       6590    8352    9538   18642   29042
17                Norte     RO       3240    7540   20140   27814   35042
18                Norte     RR       1594    5286    7754   10450    7952
19                Norte     TO       6376    8822   21974   26786   25690
20              Sudeste     ES       9390   53466  120972  207142  186268
21              Sudeste     MG      66340  183316  280790  380716  364078
22              Sudeste     RJ      59264  112454  326710  291642  210214
23              Sudeste     SP      29288   54064   94160  186270  203586
24                  Sul     PR      54850  134972  220302  275936  276400
25                  Sul     RS      45824  103716  217422  247200  218694
26                  Sul     SC      34674   75300  125290  148488  122246

                                   ... obitosNovos                           \
semanaEpi       6       7       8  ...          21   22   23   24   25   26
0           50346   29998   18872  ...          12    4   14   18   76   40
1           73728   69236   53928  ...          98   28   90   98  136  224
2           37684   44436   34166  ...          30    8   12   56   14   32
3           46384   36546   27832  ...          10   18   22   24   56   50
4           24524   15470    4150  ...           0    0    0    6   10   28
5           92694   64332   33138  ...          18   32   28   50   60   68
6           44208   29264   18342  ...          86   76   54   16   50   96
7           14856   13076   11534  ...           2    2    2    0    8    4
8           45174   39628   28678  ...           6    0   10    2   36   36
9           62060   69096   68468  ...          54   58   58   68   72   70
10          13560   10430    6002  ...           6    0    4    2   22   14
11          31918   24698   16944  ...          10   18   12   12   36   62
12          20624    9248    4666  ...           4    0    4    6    4   10
13           9112   11584    8694  ...           0    0    0    0    0    4
14          28960   13250    8750  ...           4    2    0    4    0    2
15           5640    1586     408  ...           4    0    6    6    0    0
16          39886   37378   32538  ...          56   34   54   40   36   34
17          31452   24240   25744  ...           4    8   10    4   20   28
18           5192    6508    3508  ...           0    0    0    0    0    2
19          17596   11332    7086  ...           2    0    0    0    2   20
20         117760   56550   30642  ...          14   20   26   26   44   78
21         285530  192146  185928  ...         172   70  280  248  344  310
22         123902   90184   67546  ...         142   66   80  174  192  208
23         195408  182980  163204  ...         698  404  842  632  896  910
24         213022  163430  113218  ...         140  164  148  104  252  334
25         178284  159218  119328  ...          98  150  322  224  256  182
26          95436   77844   59612  ...          56   50   76   52   96  132


semanaEpi    27   28   29  52
0            48   26   16   0
1           148  116   56  34
2            38   36   36   0
3            78   82   62   0
4            50   60   42   0
5            64  202   94   2
6           176   78   40   0
7            20   22    8   0
8            42   50   34   2
9            78   90   48  14
10           44   74   34   0
11           24   44   40   0
12           16   32   22   0
13            4    6    2   0
14           10   24   14   2
15            2   16    0   0
16           20   26   18   4
17           18   30   14   6
18            0    2    8   0
19            2    6   16   0
20          112   74   54   4
21          354  388  222   0
22          262  346  186  10
23         1014  970  460  16
24          424  372  168   0
25          254  204   94   0
26           90  106   56   4

[27 rows x 62 columns]

Your problem is the column names:

In [14]:
covidSemanaW2.columns

MultiIndex([( 'casosNovos',  1),
            ( 'casosNovos',  2),
            ( 'casosNovos',  3),
            ( 'casosNovos',  4),
            ( 'casosNovos',  5),
            ( 'casosNovos',  6),
            ( 'casosNovos',  7),
            ( 'casosNovos',  8),
            ( 'casosNovos',  9),
            ( 'casosNovos', 10),
            ( 'casosNovos', 11),
            ( 'casosNovos', 12),
            ( 'casosNovos', 13),
            ( 'casosNovos', 14),
            ( 'casosNovos', 15),
            ( 'casosNovos', 16),
            ( 'casosNovos', 17),
            ( 'casosNovos', 18),
            ( 'casosNovos', 19),
            ( 'casosNovos', 20),
            ( 'casosNovos', 21),
            ( 'casosNovos', 22),
            ( 'casosNovos', 23),
            ( 'casosNovos', 24),
            ( 'casosNovos', 25),
            ( 'casosNovos', 26),
            ( 'casosNovos', 27),
            ( 'casosNovos', 28),
            ( 'casosNovos', 29),
            ( 'casosNovos', 52),
            ('obitosNovos',  1),
            ('obitosNovos',  2),
            ('obitosNovos',  3),
            ('obitosNovos',  4),
            ('obitosNovos',  5),
            ('obitosNovos',  6),
            ('obitosNovos',  7),
            ('obitosNovos',  8),
            ('obitosNovos',  9),
            ('obitosNovos', 10),
            ('obitosNovos', 11),
            ('obitosNovos', 12),
            ('obitosNovos', 13),
            ('obitosNovos', 14),
            ('obitosNovos', 15),
            ('obitosNovos', 16),
            ('obitosNovos', 17),
            ('obitosNovos', 18),
            ('obitosNovos', 19),
            ('obitosNovos', 20),
            ('obitosNovos', 21),
            ('obitosNovos', 22),
            ('obitosNovos', 23),
            ('obitosNovos', 24),
            ('obitosNovos', 25),
            ('obitosNovos', 26),
            ('obitosNovos', 27),
            ('obitosNovos', 28),
            ('obitosNovos', 29),
            ('obitosNovos', 52)],
           names=[None, 'semanaEpi'])

Notice that, before making any change, you can easily convert this into a Long format:

In [15]:
covidSemanaW2.stack()

                               casosNovos  obitosNovos
regiao       estado semanaEpi
Centro-Oeste DF     1               10210           22
                    2               32672           14
                    3               40410           26
                    4               67600           50
                    5               71952          106
...                                   ...          ...
Sul          SC     26              25198          132
                    27              23470           90
                    28              24424          106
                    29               8920           56
                    52                670            4

[810 rows x 2 columns]

And, more interesting:

In [16]:
covidSemanaW2.stack([0,1])

regiao        estado               semanaEpi
Centro-Oeste  DF      casosNovos   1            10210
                                   2            32672
                                   3            40410
                                   4            67600
                                   5            71952
                                                ...
Sul           SC      obitosNovos  26             132
                                   27              90
                                   28             106
                                   29              56
                                   52               4
Length: 1620, dtype: int64

In [17]:
covidSemanaW2.stack([0,1]).reset_index()

            regiao estado      level_2  semanaEpi      0
0     Centro-Oeste     DF   casosNovos          1  10210
1     Centro-Oeste     DF   casosNovos          2  32672
2     Centro-Oeste     DF   casosNovos          3  40410
3     Centro-Oeste     DF   casosNovos          4  67600
4     Centro-Oeste     DF   casosNovos          5  71952
...            ...    ...          ...        ...    ...
1615           Sul     SC  obitosNovos         26    132
1616           Sul     SC  obitosNovos         27     90
1617           Sul     SC  obitosNovos         28    106
1618           Sul     SC  obitosNovos         29     56
1619           Sul     SC  obitosNovos         52      4

[1620 rows x 5 columns]

In [18]:
# rename

covidSemanaW2_L=covidSemanaW2.stack([0,1]).reset_index()
covidSemanaW2_L.rename(columns={'level_2':'measure',0:'counts'},inplace=True)

In [20]:
# then

covidSemanaW2_L.to_csv(os.path.join('FilesToAggregate','covidSemanaW2_L.csv'),index=False)

But, if you decided to alter this:

In [21]:
covidSemanaW2.columns

MultiIndex([( 'casosNovos',  1),
            ( 'casosNovos',  2),
            ( 'casosNovos',  3),
            ( 'casosNovos',  4),
            ( 'casosNovos',  5),
            ( 'casosNovos',  6),
            ( 'casosNovos',  7),
            ( 'casosNovos',  8),
            ( 'casosNovos',  9),
            ( 'casosNovos', 10),
            ( 'casosNovos', 11),
            ( 'casosNovos', 12),
            ( 'casosNovos', 13),
            ( 'casosNovos', 14),
            ( 'casosNovos', 15),
            ( 'casosNovos', 16),
            ( 'casosNovos', 17),
            ( 'casosNovos', 18),
            ( 'casosNovos', 19),
            ( 'casosNovos', 20),
            ( 'casosNovos', 21),
            ( 'casosNovos', 22),
            ( 'casosNovos', 23),
            ( 'casosNovos', 24),
            ( 'casosNovos', 25),
            ( 'casosNovos', 26),
            ( 'casosNovos', 27),
            ( 'casosNovos', 28),
            ( 'casosNovos', 29),
            ( 'casosNovos', 52),
            ('obitosNovos',  1),
            ('obitosNovos',  2),
            ('obitosNovos',  3),
            ('obitosNovos',  4),
            ('obitosNovos',  5),
            ('obitosNovos',  6),
            ('obitosNovos',  7),
            ('obitosNovos',  8),
            ('obitosNovos',  9),
            ('obitosNovos', 10),
            ('obitosNovos', 11),
            ('obitosNovos', 12),
            ('obitosNovos', 13),
            ('obitosNovos', 14),
            ('obitosNovos', 15),
            ('obitosNovos', 16),
            ('obitosNovos', 17),
            ('obitosNovos', 18),
            ('obitosNovos', 19),
            ('obitosNovos', 20),
            ('obitosNovos', 21),
            ('obitosNovos', 22),
            ('obitosNovos', 23),
            ('obitosNovos', 24),
            ('obitosNovos', 25),
            ('obitosNovos', 26),
            ('obitosNovos', 27),
            ('obitosNovos', 28),
            ('obitosNovos', 29),
            ('obitosNovos', 52)],
           names=[None, 'semanaEpi'])

In [25]:
# with something like

["_".join([levels[0],str(levels[1])]) for levels in covidSemanaW2.columns]

['casosNovos_1',
 'casosNovos_2',
 'casosNovos_3',
 'casosNovos_4',
 'casosNovos_5',
 'casosNovos_6',
 'casosNovos_7',
 'casosNovos_8',
 'casosNovos_9',
 'casosNovos_10',
 'casosNovos_11',
 'casosNovos_12',
 'casosNovos_13',
 'casosNovos_14',
 'casosNovos_15',
 'casosNovos_16',
 'casosNovos_17',
 'casosNovos_18',
 'casosNovos_19',
 'casosNovos_20',
 'casosNovos_21',
 'casosNovos_22',
 'casosNovos_23',
 'casosNovos_24',
 'casosNovos_25',
 'casosNovos_26',
 'casosNovos_27',
 'casosNovos_28',
 'casosNovos_29',
 'casosNovos_52',
 'obitosNovos_1',
 'obitosNovos_2',
 'obitosNovos_3',
 'obitosNovos_4',
 'obitosNovos_5',
 'obitosNovos_6',
 'obitosNovos_7',
 'obitosNovos_8',
 'obitosNovos_9',
 'obitosNovos_10',
 'obitosNovos_11',
 'obitosNovos_12',
 'obitosNovos_13',
 'obitosNovos_14',
 'obitosNovos_15',
 'obitosNovos_16',
 'obitosNovos_17',
 'obitosNovos_18',
 'obitosNovos_19',
 'obitosNovos_20',
 'obitosNovos_21',
 'obitosNovos_22',
 'obitosNovos_23',
 'obitosNovos_24',
 'obitosNovos_25',
 'obitosNovos_26',
 'obitosNovos_27',
 'obitosNovos_28',
 'obitosNovos_29',
 'obitosNovos_52']

In [26]:
NewNames=["_".join([levels[0],str(levels[1])]) for levels in covidSemanaW2.columns]
covidSemanaW2.columns=NewNames

#now you have
covidSemanaW2

                     casosNovos_1  casosNovos_2  casosNovos_3  casosNovos_4  \
regiao       estado
Centro-Oeste DF             10210         32672         40410         67600
             GO             10924         31460         59364         70996
             MS              6358         15446         16836         38878
             MT             10264         24628         36222         54572
Nordeste     AL              1322          4604          8426         15738
             BA             11606         20504         50574         86258
             CE              7928         15012         43266        173844
             MA              2466          4754          7614         15546
             PB              1724          5610         17822         34018
             PE              5938         11820         24892         55764
             PI             19814           884        -13488          7782
             RN              5464          7854         18620         40368
             SE               552          2166          6150         14652
Norte        AC                34          2464          7796          8592
             AM              3068         22592         84164         75116
             AP               934          2638         13184         30084
             PA              6590          8352          9538         18642
             RO              3240          7540         20140         27814
             RR              1594          5286          7754         10450
             TO              6376          8822         21974         26786
Sudeste      ES              9390         53466        120972        207142
             MG             66340        183316        280790        380716
             RJ             59264        112454        326710        291642
             SP             29288         54064         94160        186270
Sul          PR             54850        134972        220302        275936
             RS             45824        103716        217422        247200
             SC             34674         75300        125290        148488

                     casosNovos_5  casosNovos_6  casosNovos_7  casosNovos_8  \
regiao       estado
Centro-Oeste DF             71952         50346         29998         18872
             GO             66762         73728         69236         53928
             MS             42042         37684         44436         34166
             MT             54968         46384         36546         27832
Nordeste     AL             22720         24524         15470          4150
             BA            101036         92694         64332         33138
             CE            206146         44208         29264         18342
             MA             14406         14856         13076         11534
             PB             45744         45174         39628         28678
             PE             66848         62060         69096         68468
             PI             16136         13560         10430          6002
             RN             33770         31918         24698         16944
             SE             25412         20624          9248          4666
Norte        AC             16090          9112         11584          8694
             AM             42402         28960         13250          8750
             AP             11656          5640          1586           408
             PA             29042         39886         37378         32538
             RO             35042         31452         24240         25744
             RR              7952          5192          6508          3508
             TO             25690         17596         11332          7086
Sudeste      ES            186268        117760         56550         30642
             MG            364078        285530        192146        185928
             RJ            210214        123902         90184         67546
             SP            203586        195408        182980        163204
Sul          PR            276400        213022        163430        113218
             RS            218694        178284        159218        119328
             SC            122246         95436         77844         59612

                     casosNovos_9  casosNovos_10  ...  obitosNovos_21  \
regiao       estado                               ...
Centro-Oeste DF              8512           5668  ...              12
             GO             34468          59294  ...              98
             MS             17100          14910  ...              30
             MT             12688          10802  ...              10
Nordeste     AL              5358           1868  ...               0
             BA             15742          18264  ...              18
             CE              9118           6574  ...              86
             MA              4458           6582  ...               2
             PB             10370          15074  ...               6
             PE             39620          33348  ...              54
             PI              1728           1272  ...               6
             RN              6162           9020  ...              10
             SE              1776           2444  ...               4
Norte        AC              3898           1704  ...               0
             AM              3300           6890  ...               4
             AP               114            140  ...               4
             PA             15440          20440  ...              56
             RO             13222           9296  ...               4
             RR              1556           1152  ...               0
             TO              2004           3104  ...               2
Sudeste      ES             12350           9176  ...              14
             MG             71850          69640  ...             172
             RJ             34810          50136  ...             142
             SP             93290         132202  ...             698
Sul          PR             59678          50090  ...             140
             RS             63216          63670  ...              98
             SC             36176          31404  ...              56

                     obitosNovos_22  obitosNovos_23  obitosNovos_24  \
regiao       estado
Centro-Oeste DF                   4              14              18
             GO                  28              90              98
             MS                   8              12              56
             MT                  18              22              24
Nordeste     AL                   0               0               6
             BA                  32              28              50
             CE                  76              54              16
             MA                   2               2               0
             PB                   0              10               2
             PE                  58              58              68
             PI                   0               4               2
             RN                  18              12              12
             SE                   0               4               6
Norte        AC                   0               0               0
             AM                   2               0               4
             AP                   0               6               6
             PA                  34              54              40
             RO                   8              10               4
             RR                   0               0               0
             TO                   0               0               0
Sudeste      ES                  20              26              26
             MG                  70             280             248
             RJ                  66              80             174
             SP                 404             842             632
Sul          PR                 164             148             104
             RS                 150             322             224
             SC                  50              76              52

                     obitosNovos_25  obitosNovos_26  obitosNovos_27  \
regiao       estado
Centro-Oeste DF                  76              40              48
             GO                 136             224             148
             MS                  14              32              38
             MT                  56              50              78
Nordeste     AL                  10              28              50
             BA                  60              68              64
             CE                  50              96             176
             MA                   8               4              20
             PB                  36              36              42
             PE                  72              70              78
             PI                  22              14              44
             RN                  36              62              24
             SE                   4              10              16
Norte        AC                   0               4               4
             AM                   0               2              10
             AP                   0               0               2
             PA                  36              34              20
             RO                  20              28              18
             RR                   0               2               0
             TO                   2              20               2
Sudeste      ES                  44              78             112
             MG                 344             310             354
             RJ                 192             208             262
             SP                 896             910            1014
Sul          PR                 252             334             424
             RS                 256             182             254
             SC                  96             132              90

                     obitosNovos_28  obitosNovos_29  obitosNovos_52
regiao       estado
Centro-Oeste DF                  26              16               0
             GO                 116              56              34
             MS                  36              36               0
             MT                  82              62               0
Nordeste     AL                  60              42               0
             BA                 202              94               2
             CE                  78              40               0
             MA                  22               8               0
             PB                  50              34               2
             PE                  90              48              14
             PI                  74              34               0
             RN                  44              40               0
             SE                  32              22               0
Norte        AC                   6               2               0
             AM                  24              14               2
             AP                  16               0               0
             PA                  26              18               4
             RO                  30              14               6
             RR                   2               8               0
             TO                   6              16               0
Sudeste      ES                  74              54               4
             MG                 388             222               0
             RJ                 346             186              10
             SP                 970             460              16
Sul          PR                 372             168               0
             RS                 204              94               0
             SC                 106              56               4

[27 rows x 60 columns]

If you start with something like this, you could recover the Multi index:

In [27]:
pd.MultiIndex.from_tuples(covidSemanaW2.columns.str.split('_').map(tuple))

MultiIndex([( 'casosNovos',  '1'),
            ( 'casosNovos',  '2'),
            ( 'casosNovos',  '3'),
            ( 'casosNovos',  '4'),
            ( 'casosNovos',  '5'),
            ( 'casosNovos',  '6'),
            ( 'casosNovos',  '7'),
            ( 'casosNovos',  '8'),
            ( 'casosNovos',  '9'),
            ( 'casosNovos', '10'),
            ( 'casosNovos', '11'),
            ( 'casosNovos', '12'),
            ( 'casosNovos', '13'),
            ( 'casosNovos', '14'),
            ( 'casosNovos', '15'),
            ( 'casosNovos', '16'),
            ( 'casosNovos', '17'),
            ( 'casosNovos', '18'),
            ( 'casosNovos', '19'),
            ( 'casosNovos', '20'),
            ( 'casosNovos', '21'),
            ( 'casosNovos', '22'),
            ( 'casosNovos', '23'),
            ( 'casosNovos', '24'),
            ( 'casosNovos', '25'),
            ( 'casosNovos', '26'),
            ( 'casosNovos', '27'),
            ( 'casosNovos', '28'),
            ( 'casosNovos', '29'),
            ( 'casosNovos', '52'),
            ('obitosNovos',  '1'),
            ('obitosNovos',  '2'),
            ('obitosNovos',  '3'),
            ('obitosNovos',  '4'),
            ('obitosNovos',  '5'),
            ('obitosNovos',  '6'),
            ('obitosNovos',  '7'),
            ('obitosNovos',  '8'),
            ('obitosNovos',  '9'),
            ('obitosNovos', '10'),
            ('obitosNovos', '11'),
            ('obitosNovos', '12'),
            ('obitosNovos', '13'),
            ('obitosNovos', '14'),
            ('obitosNovos', '15'),
            ('obitosNovos', '16'),
            ('obitosNovos', '17'),
            ('obitosNovos', '18'),
            ('obitosNovos', '19'),
            ('obitosNovos', '20'),
            ('obitosNovos', '21'),
            ('obitosNovos', '22'),
            ('obitosNovos', '23'),
            ('obitosNovos', '24'),
            ('obitosNovos', '25'),
            ('obitosNovos', '26'),
            ('obitosNovos', '27'),
            ('obitosNovos', '28'),
            ('obitosNovos', '29'),
            ('obitosNovos', '52')],
           )